<?xml version="1.0" encoding="UTF-8"?>

<widget id="A0000000000021" version="1.0.0">
  <name>微信</name>
  <description>微信JS-SDK</description>
  <author email="developer@apicloud.com" href="http://www.apicloud.com">Developer</author>
  <content src="index.html"/>
  <preference name="windowBackground" value="#FFFFFF"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="false"/>
  <access origin="*"/>
  <feature name="weiXin">
       <param name="urlScheme" value="wxd0d84bbf23b4a0e4"/>
        <param name="apiKey" value="wxd0d84bbf23b4a0e4"/>
        <param name="apiSecret" value="a354f72aa1b4c2b8eaad137ac81434cd"/>
  </feature>
  <feature name="sinaWeiBo">
      <param name="urlScheme" value="wb1132217156" />
      <param name="apiKey" value="1132217156" />
      <param name="rgistUrl" value="http://www.apicloud.com" />
  </feature>
  <feature name="qq">
      <param name="urlScheme" value="tencent101064640" />
      <param name="apiKey" value="101064640" />
  </feature>
  <feature name="baiduMap">
		<param name="android_api_key" value="su8sN9TC82CLMEK4B2wvMrWT" />
		<param name="ios_api_key" value="Kwt0ZLUE88gvkvcgvYHIDvj0" />
  </feature>
    <feature name="imageBrowser">
    </feature>
    <feature name="speechRecognizer">
    </feature>
    <feature name="baiduLocation">
    </feature>
    <feature name="scanner">
    </feature>
</widget>
